doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0')
    title Plant Identifier
    //-external CSS link 
    //-<link rel="stylesheet" href="css/normalize.css"> 
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/foundation.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Enriqueta:400,700', rel='stylesheet', type='text/css')
    //-production 
    //-<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    //-<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> 
    //-development 
    script(src='javascripts/jquery.js')
    script(src='javascripts/foundation.min.js')
    script(src='javascripts/main.js')
  body
    header
      h1 SEMI-HANDY PLANT IDENTIFIER
      h2
        | This key has no scientific basis whatsoever. Each "group" is just a collection of house plants with an easily recognized feature in common. The goal is to make naming an unidentified plant a little easier.
    block content