/* 
Project Name: Plant Identifier
Author: Created by Megan Hustad, edited by Matt Lucas
FEWD @GA in NYC
*/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
  color: #000000;
  font-size: 22px;
  line-height: 1.4;
  font-family: "Enriqueta", serif;
  background-image: url("../images/bodybackground.jpg");
  margin: 0 auto;
}

header {
  background: #F1FAFA;
  margin-bottom: 40px;
}

h1, h2, h3, h4 {
  font-family: "Cuprum", sans-serif;
}

h1 {
  font-size: 54px;
  margin: 0px 0px 0px 20px;
  color: #000000;
}

h2 {
  font-size: 28px;
  color: #575742;
  width: 80%;
  margin: 0px 0px 0px 40px;
}

h3 {
  font-size: 28px;
  padding-top: 10px;
  padding-left: 10px;
}

h4 {
  font-size: 18px;
}

#greenHouse {
  /*position: absolute;*/
  /*margin: 360px 40px 0 680px;*/
  border: solid 2px #575742;
  border-radius: 12px;
  border-style: outset;
}

/*ul {
  padding-left: 20px;
  padding-right: 200px;
}*/

li {
  font-size: 18px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  background-color: #FF69B4;
  padding: 5px 9px;
  margin: 5px;
  border-radius: 10px;
}

/*a:link {
text-decoration: none;
color: #000000;
}

a:hover {
color: #6F4242;
}

a:active {
color: #8C1717;
}

a:visited {
color: #000000;
}*/

#displayImg {
  width:200px;
  display: block;
}

.getPic {
  position: relative;
}

.question {
  color: #FFFFFF;
  padding: 1.250em;
  background-image: url("../images/questionbackdrop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  border: solid 2px #118215;
  border-style: outset;
  clear: both;
}

.bonsaiYes {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  background-color: #FF69B4;
  padding: 5px 7px;
  margin: 5px;
  border-radius: 10px;
}

.bonsaiNo {
  color: #FFFFFF;
  padding: 1.250em;
  display: none;
  margin-left: 40px;
}

.notyetposed-0 {
  visibility: show;
}

.notyetposed-1, .notyetposed-2, .notyetposed-3, .notyetposed-4, .notyetposed-5, .notyetposed-6,
.notyetposed-7, .notyetposed-8, .notyetposed-9, .notyetposed-10, .notyetposed-11, .notyetposed-12, 
.notyetposed-13, .notyetposed-14, .notyetposed-15a, .notyetposed-15b, .notyetposed-16, .notyetposed-17,
.notyetposed-18, .notyetposed-19, .notyetposed-20 {   
  display: none; 
}

.answered {
  /* Should be background image opacity or something else */
  /*opacity: 0.5;*/
  border-radius: 12px;
  border: solid 2px yellow;
}

.yes, .no {
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  text-align: center;
  padding: 10px;
  background-image: url("../images/buttonbackground2.jpg");
  margin: 10px;
  border-radius: 30px;
  border: 1px dotted #73725D;
  border-style: outset;
  cursor: pointer;
  display: inline-block;
}

.yes {
  margin-left: 40px;
}

.options-spiny-stemmed-plants {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
  cursor: pointer;
}

.options-spiny-stemmed-plants-2 {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-living-stones {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-baby-bearing-plants {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-insect-eaters {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-air-plants {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-climbers-and-trailers {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-climbers-and-trailers-2 {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-palms {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-finger-leaved-plants {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-herringbone-plants {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-lobed-and-star-leaved-plants {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-rosette-plants {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-bushy-and-upright-succulents {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-false-palms {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-bonsai {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-bushy-plants {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-spear-leaved-plants{
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

.options-grassy-leaved-plants {
  display: none;
  margin: 40px 0 0 0;
  clear: both;
}

footer {
  clear: both;
  float: left;
  background-color: #F1FAFA;
  height: 60px;
  width: 100%;
  margin: 500px 0 0 0;
}

.footerText {
  margin: 20px 0 0 0;
  color: #575742;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 421px){
  header h2 {
    display: none;
  }
  .question {
    margin-bottom: 20px;
  }
  #greenHouse {
    margin-bottom: 20px;
  }
  header {
    margin-bottom: 20px;
  }
}

